body {
  box-sizing: border-box;
  flex-direction: column;
  display: flex;
  align-items: center;
  width: 100%;
  font-family: 'Niramit', sans-serif;
  background: linear-gradient(to bottom, orange, yellow);
  height: 100vh;
  color: #2c2c2c;
}

h1 {
  font-weight: bold;
  font-size: 36px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 10px;
}

input {
  width: 300px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid grey;
}

input:focus {
  border: 1px solid lightblue;
  outline: none;
}

#submit {
  padding: 10px 20px 10px 20px;
  background: green;
  color: white;
  font-size: 20px;
  border: none;
  border-radius: 5px;
}

h2 {
  align-self: center;
}

.book-item {
  display: flex;
  justify-content: space-between;
  width: 30vw;
  align-items: center;
  background: white;
  padding: 5px;
}

.book-item > p {
  font-weight: bold;
}

.book-item > button {
  background: red;
  border: none;
  padding: 10px;
  color: white;
  font-size: 20px;
  border-radius: 5px;
}

.book-item > button :hover {
  cursor: pointer;
}

.books-wrapper {
  border: 2px solid gray;
}
